/*Estilos comuns para o botão dropdown e links do menu*/
a, .dropbtn{
    font-family: Arial;
    font-size: 16px;
}
/*Estilo primário do botão dropdown*/
.dropbtn {

    background-color: #333399;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/*Mudanças de estilo quando o botão dropdown pertencer ao menu dropdown vertical*/
.dropdown-vertical > .dropbtn{
    background-color: #f9f9f9;
    color: black;
}

/*Tanto dropdown vertical quanto horizontal terão posição relativa*/
.dropdown-vertical, .dropdown-horizontal {
    position: relative;
}
/*Itens do dropdown horizontal ficarão um do lado do outro com display inline-block*/
.dropdown-horizontal {
    display: inline-block;
}

/*Configurando subitens do menu dropdown vertical*/
.dropdown-content-vertical {
    float: left;
    display: none;
    position: absolute;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    /*Essa parte é responsável por fazer submenu abrir do lado do item, ao invés de 
    abrir em baixo como no menu horizontal*/
    left: 149px;
    top: 0;
    display: none;
}
/*Configurando subitens do menu dropdown horizontal*/
.dropdown-content-horizontal {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*Personalizando itens tanto do dropdown horizontal quanto do vertical*/
.dropdown-content-vertical a, .dropdown-content-horizontal a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Efeito de troca de cor quando você passar mouse sobre algum item de submenu, 
tanto do dropdown vertical quanto do horizontal*/
.dropdown-content-vertical a:hover, .dropdown-content-horizontal a:hover {background-color: #f1f1f1}

/*Quando passar o mouse por cima de uma opção de qualquer um dos tipos de menus, o submenu aparecerá, 
pois o display que estava como none(none não aparece) ficará setado como block, fazendo com que os 
itens surjam e fiquem um em baixo do outro*/
.dropdown-vertical:hover .dropdown-content-vertical, .dropdown-horizontal:hover .dropdown-content-horizontal {
    display: block;
}

/*Quando passar o mouse em cima de um menu dropdown horizontal, o botão mudará de cor*/
.dropdown-horizontal:hover > .dropbtn {
    background-color: #3333CC;
}
/*Quando passar o mouse em cima de um menu dropdown vertical, o botão e as letras mudarão de cor*/
.dropdown-vertical:hover > .dropbtn {
    background-color: #3333CC;
    color: #fff;
}